.wrapper1 {
  /* display: flex;
  justify-content: center;
  gap: 24px; */
}

.wrapper2{
  display: flex;
  gap: 24px;
}

/* .frontPage{
  display: flex;
  justify-content: center;
  border: 10px solid red;
} */
