.password__container {
  padding: 24px;
  width: 100%;
  max-width: 350px;
}

.password__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.password__subHeader {
  color: rgba(128, 128, 128, 0.8);
  font-size: 14px;
  line-height: 1.5;
}

.password__email {
  font-size: 14px;
  font-weight: bolder;
  opacity: 0.6;
}

.password__editor {
  width: 100%;
  max-width: 900px;
  height: 35px;
  margin-top: 5px;
  padding: 12px;
  outline: none;
  border: 1px solid lightgray;
  font-size: 13px;
  border-radius: 5px;
  transition: all 200ms ease;
}

.password__editor:focus {
  border: 1px solid #4d4dff;
}

.password__verifyButton {
  background: #4d4dff;
  border: none;
  color: #fef9ff;
  width: 100%;
  font-size: 16px;
  height: 40px;
  border-radius: 5px;
  transition: all 100ms ease;
  cursor: pointer;
}

.password__loadingButton {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
}

.password__spinner {
  max-width: 25px;
  border-radius: 50%;
  padding: 12px;
  border-top: 3px solid blue;
  animation: spinner 200ms infinite alternate;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.password__verifyButton:hover {
  opacity: 0.7;
}

.password__verifyButton:active {
  transform: translateY(1px);
}
